[Unit]
Description=Python ERC20 Tip Bot Worker
After=network.target

[Service]
User=YOUR_USERNAME
Group=www-data
WorkingDirectory=/home/YOUR_USERNAME/py-erc20bot
Environment="PATH=/home/YOUR_USERNAME/py-erc20bot/venv/bin"
ExecStart=/home/YOUR_USERNAME/py-erc20bot/celery.sh

[Install]
WantedBy=multi-user.target

