[Unit]
Description=Python ERC20 Tip Bot
After=network.target

[Service]
User=mitche50
Group=www-data
WorkingDirectory=/home/mitche50/rentipbot
Environment="PATH=/home/mitche50/rentipbot/venv/bin"
ExecStart=/home/mitche50/rentipbot/app.sh

[Install]
WantedBy=multi-user.target
